<!-- 用户主页 页头 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>MIKE教育</title>
    <link rel="shortcut icon" th:href="@{/admin/dist/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/mike/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/mike/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/mike/css/common.css}">
    <link rel="stylesheet" th:href="@{/mike/styles/header.css}">
    <link rel="stylesheet" th:href="@{'/mike/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.min.css}"/>
    </head>
<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index}" class="logo"><h1>MIKE教育</h1></a>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot">
                </div>
            </div>
            <div class="button iconfont icon-search" onclick="search()"></div>
        </div>
    </div>
</nav>
<header id="header" th:fragment="header-fragment">
    <div class="center">
        <ul class="fl">
            <li><a th:href="@{/index}">MIKE首页</a></li>
            <li><a th:href="@{/admin}">后台管理系统</a></li>
            <li><a th:href="@{/teacher}">教师端</a></li>
<!--            <li><a href="https://edu.csdn.net/course/detail/26258">课程视频</a></li>-->
<!--            <li><a href="https://juejin.cn/book/6844733814074245133?suid=3808363978174302&source=pc">课程文档</a></li>-->
        </ul>
        <div class="fr">
            <th:block th:unless="${session.mikeStudent==null}">
                <div class="user">
                    <ul class="selector">
                        <li>
                            <a th:href="@{/personal}">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/courses}">
                                我的课程
                            </a>
                        </li>
<!--                        <li>
                            <a th:href="@{/orders}">
                                我的订单
                            </a>
                        </li>-->
                        <li>
                            <a th:href="@{/logout}">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <th:block th:text="${session.mikeStudent.stName}"></th:block>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a th:href="@{/shop-cart}" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(
                        <th:block th:text="${session.mikeStudent.shopCartItemCount}"></th:block>
                        )</a>
                </div>
            </th:block>
            <th:block th:if="${session.mikeStudent==null}">
                <ul class="login">
                    <li><a th:href="@{/login}">学生登录</a></li>
                    <li><a th:href="@{/register}">学生注册</a></li>
                </ul>
                <div class="shopcart">
                    <a href="##" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(0)</a>
                </div>
            </th:block>
        </div>
    </div>
</header>
</html>
