<!-- 成功发送邮箱验证码界面 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MIKE教育-重置密码</title>
    <link rel="shortcut icon" th:href="@{/admin/dist/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/mike/css/common.css}">
    <link rel="stylesheet" th:href="@{/mike/styles/login.css}">
    <link rel="stylesheet" th:href="@{/mike/styles/header.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.min.css}"/>
</head>
<body>
<div class="top center">
    <div class="logo center">
        <a href="index.html" target="_blank"><img src="/admin/dist/img/mike-logo.png" alt=""></a>
    </div>
</div>
<div class="form center">
    <div class="login">
        <div class="login_center">
            <div class="login_top">
                <div class="left fl">重置密码</div>
                <div class="clear"></div>
                <div class="under-line center"></div>
            </div>
            <form id="loginForm" onsubmit="return false;" action="##">
                <div class="login_main center">
                    <div class="login-info">新密码:&nbsp;<input class="login-info-input"  id="password1"
                                                                                    type="password"
                                                                                    name="password1"
                                                                placeholder="6-16位字符，区分大小写"/>
                    </div>
                    <div class="login-info">确认密码:&nbsp;<input class="login-info-input"
                                                                                      id="password2"
                                                                                      type="password"
                                                                                      name="password2"
                                                                  placeholder="请输入确认密码"/>

                    </div>
                </div>
                <div class="login_submit">
                    <input class="submit" type="button" onclick="resetpassword()" value="重置密码">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script type="text/javascript">
    function resetpassword() {
        var password1 = $("#password1").val();
        if (!validPassword(password1)) {
            Swal.fire({
                text: "请输入正确的密码格式(6-20位字符和数字组合)",
                icon: "error",iconColor:"#f05b72",
            });
            return false;
        }
        var password2 = $("#password2").val();
        if (!validPassword(password2)) {
            Swal.fire({
                text: "请输入正确的密码格式(6-20位字符和数字组合)",
                icon: "error",iconColor:"#f05b72",
            });
            return false;
        }
        if(password1 != password2){
            Swal.fire({
                text: "请输入相同的密码",
                icon: "error",iconColor:"#f05b72",
            });
            return false;

        }
        //验证
        var params = $("#loginForm").serialize();
        var url = '/resetpassword';
        $.ajax({
            type: 'POST',//方法类型
            url: url,
            data: params,
            success: function (result) {
                if (result.resultCode == 200) {
                    Swal.fire({
                        title: "修改密码成功",
                        text: "是否跳转至登录页?",
                        icon: "success",iconColor:"#1d953f",
                        showCancelButton: true,// 是否显示取消按钮
                        confirmButtonText: '确认',// 确认按钮的 文字
                        cancelButtonText: '取消'// 取消按钮的 文字
                    }).then((flag) => {
                            if (flag.value) {
                                window.location.href = '/login';
                            }
                        }
                    )
                    ;
                } else {
                    Swal.fire({
                        text: result.message,
                        icon: "error",iconColor:"#f05b72",
                    });
                }
                ;
            },
            error: function () {
                Swal.fire({
                    text: "操作失败",
                    icon: "error",iconColor:"#f05b72",
                });
            }
        });
    }
</script>
</html>