<!-- 添加商品页面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="teacher/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="teacher/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="teacher/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">课程信息编辑</h3>
                    </div>
                    <div class="card-body">
                        <form id="courseForm" onsubmit="return false;">
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">请选择分类:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select class="form-control col-sm-3" id="levelOne"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == firstLevelCategories}">
                                        <th:block th:each="c : ${firstLevelCategories}">
                                            <option th:value="${c.categoryId}" th:text="${c.categoryName}"
                                                    th:selected="${null !=firstLevelCategoryId and firstLevelCategoryId==c.categoryId} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>&nbsp;
                                <select class="form-control col-sm-3"
                                        id="levelTwo"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == secondLevelCategories}">
                                        <th:block th:each="c : ${secondLevelCategories}">
                                            <option th:value="${c.categoryId}" th:text="${c.categoryName}"
                                                    th:selected="${null !=secondLevelCategoryId and secondLevelCategoryId==c.categoryId} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>&nbsp;
                                <select class="form-control col-sm-3"
                                        id="levelThree"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == thirdLevelCategories}">
                                        <th:block th:each="c : ${thirdLevelCategories}">
                                            <option th:value="${c.categoryId}" th:text="${c.categoryName}"
                                                    th:selected="${null !=thirdLevelCategoryId and thirdLevelCategoryId==c.categoryId} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="hidden" id="courseId" name="courseId"
                                       th:value="${course!=null and course.courseId!=null }?${course.courseId}: 0">
                                <input type="text" class="form-control col-sm-6" id="courseName" name="courseName"
                                       placeholder="*请输入课程名称(必填)"
                                       th:value="${course!=null and course.courseName!=null }?${course.courseName}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control col-sm-6" id="courseIntro" name="courseIntro"
                                       placeholder="*请输入课程简介(100字以内)"
                                       th:value="${course!=null and course.courseIntro!=null }?${course.courseIntro}: ''"
                                       required="true">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="number" class="form-control col-sm-6" id="originalPrice"
                                       name="originalPrice"
                                       placeholder="*请输入课程价格"
                                       th:value="${course!=null and course.originalPrice!=null }?${course.originalPrice}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="number" class="form-control col-sm-6" id="sellingPrice"
                                       name="sellingPrice"
                                       placeholder="*请输入课程售卖价"
                                       th:value="${course!=null and course.sellingPrice!=null }?${course.sellingPrice}: ''"
                                       required="true">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="number" class="form-control col-sm-6" id="stockNum" name="stockNum"
                                       placeholder="*请输入课程库存数"
                                       th:value="${course!=null and course.stockNum!=null }?${course.stockNum}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control col-sm-6" id="tag" name="tag"
                                       placeholder="*请输入课程小标签"
                                       th:value="${course!=null and course.tag!=null }?${course.tag}: ''"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label">上架状态:&nbsp;</label>
                                <input name="courseSellStatus" type="radio" id="courseSellStatusTrue" checked=true
                                       th:checked="${null==course||(null !=course and null !=course.courseSellStatus and course.courseSellStatus==0)} ?true:false"
                                       value="0"/>&nbsp;上架&nbsp;
                                <input name="courseSellStatus" type="radio" id="courseSellStatusFalse" value="1"
                                       th:checked="${null !=course and null !=course.courseSellStatus and course.courseSellStatus==1} ?true:false"/>&nbsp;下架&nbsp;
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <th:block th:if="${null == course}">
                                            <img  id="courseCoverImg" name="courseCoverImg" src="/admin/dist/img/img-upload.png"
                                                 style="height: 64px;width: 64px;">
                                        </th:block>
                                        <th:block th:unless="${null == course}">
                                            <img id="courseCoverImg" name="courseCoverImg" th:src="${course.courseCoverImg}"
                                                 style="width:160px ;height: 160px;display:block;">
                                        </th:block>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-info" style="margin-bottom: 5px;"
                                                id="uploadCourseCoverImg">
                                            <i class="fa fa-picture-o"></i>&nbsp;上传课程主图
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="border: 1px solid #ccc;z-index: 1100;">
                                <div id="editor-toolbar" class="editor-toolbar" style="border-bottom: 1px solid #ccc;"></div>
                                <input type="hidden" class="editor-text" th:value="${course!=null and course.courseDetailContent !=null}?${course.courseDetailContent}: ''">
                                <div id="editor-text-area" class="editor-text-area" style="height: 500px"></div>
                            </div>
                            <div class="form-group">
                                <!-- 按钮 -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="saveButton">保存课程
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">返回课程列表
                            </button>&nbsp;
                            </div>
                        </form>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="teacher/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<!-- ajaxupload -->
<script type="text/javascript" th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<!-- wangEditor -->
<!--<script type="text/javascript" src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>-->
<script type="text/javascript" th:src="@{/admin/plugins/wangeditor-5.1.23/index.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/course_edit.js}"></script>
</body>
</html>
